/* You can add global styles to this file, and also import other style files */

body { 
	margin: 0;
	font-family: Helvetica, sans-serif, Arial; 
}

img, embed, object, video {
	max-width: 100%;
}

a, p, div { 
	font-family:Helvetica;
}

