<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" style="font-size: xx-large;color:white" href="#">Black Machina</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color:white" href="#">encrypted computing</a></li>
        <li><a style="color:white" href="#">leadership</a></li> 
        <li class="active"><a style="color:white" href="#">home</a></li>    
      </ul>
    </div>
  </div>
</nav>